{% extends 'base.html' %}
{% load static %}

{% block title %}
    Добавление :: {{ block.super }}
{% endblock %}

{% block style_css %}
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
    <h1>Добавление Семян</h1>
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}

        {{ myform.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">
            Добавить
        </button>
    </form>
{% endblock %}