{#{% load news_tags %}#}

<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-success">
    <div class="container-fluid">
        {#    <a class="navbar-brand" href="#">Navbar</a>#}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active btn-primary mx-2" aria-current="page" href="{% url 'home' %}">Главная</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'new' %}">Добавить</a>
                {% endif %}
                <li class="nav-item"><a class="nav-link active btn-primary" aria-current="page"
                                        href="{% url 'contact' %}">Контакты</a>
                </li>
                {#                {% if request.user.is_authenticated %}#}
                {#                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Добавить новость</a>#}
                {#                    </li>#}
                {#                {% endif %}#}
                {#                <li class="nav-item dropdown">#}
                {#                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"#}
                {#                       data-bs-toggle="dropdown"#}
                {#                       aria-expanded="false">#}
                {#                        Категории#}
                {#                    </a>#}
                {#                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                {#                    {% get_list_categories as category %}#}
                {#                        {% for categor in category %}#}
                {#                            {% if categor %}#}
                {#                            <li><a class="dropdown-item " href="{{ categor.get_absolute_url }}">{{ categor.title }}</a></li>#}
                {#                            {% endif %}#}
                {#                        {% endfor %}#}
                {#                        <li>#}
                {#                            <hr class="dropdown-divider">#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </li>#}
            </ul>

        </div>
                <form class="d-flex mx-4" action="{% url 'search' %}" method="get">
                    <input class="form-control me-2" type="text" placeholder="Поиск" aria-label="Search" name="s">
                    <button class="btn btn-primary" type="submit">Поиск</button>
                </form>
        <span class="navbar-text me-2">

            {% if request.user.is_authenticated %}
                <div class="text-light"> Добро пожаловать {{ user.username }} |
                    <a href="{% url 'logout' %}">Выход</a></div>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
            {% endif %}

        </span>
        {#        <div class="nav-item "><a class="btn btn-primary" href="/admin" role="button">Admin</a></div>#}
    </div>
</nav>